@charset "utf-8";

$activeColour: #64D9E8;
$goodColour: #64E871;
$badColour: #E86477;
$backgroundColour: #232323;
$foregroundColour: #eee;

$outlineSize: 2px;

@mixin customBorder($colour) {
  border: $outlineSize solid $colour;
}

@mixin colours($_foregroundColour, $_backgroundColour) {
  background-color: $_backgroundColour;
  color: $_foregroundColour;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
}


html {
  @include colours($foregroundColour, $backgroundColour);
}

input[type=text] {
  width: 1em;
  text-align: center;
}

input {
  border-radius: 5px;
  padding: 0.5em;
}

input:active,
input:focus {
  outline: none;
  @include customBorder($activeColour);
}

input:disabled {
  @include colours($foregroundColour, #5F5F5F);
}


.correct-input {
  @include customBorder($goodColour);
}

.incorrect-input {
  @include customBorder($badColour);
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}







#game-area {
  input + input {
    margin: 0 0.5em;
  }
}